
  * {
    font-family: Arial, Helvetica, sans-serifs;
 }

 .container {
    background-color: rgb(204, 204, 204);
    border: solid black 2px; 
    padding: 20px;
 }

header>h1 {
            
    display: inline;
    color: darkred;
    
}
.botao-enviar {
        background-color: darkred;
        color: white;
    }



   